config/database.yml
config/app_config.yml
config/solr.yml
config/*.sphinx.conf
config/s3_credentials.yml
config/initializers/computer_specific_config.rb
coverage
rdoc
doc
.yardoc
.bundle
pkg
*~
*.cache
*.log
*.log.*
*.pid
tmp/**/*
tmp/*
pkg/*
private/**
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
jetty/
jetty/logs/*
jetty/solr/*data/*
coverage/*
db/*.sqlite3
*.tmproj
*.rvmrc*
*.rvmrc
*.sw?
.sass-cache/**/*

